# in the pcf (physical constrain file) 
# the external pins of the fpga are defined
# compare to the schematic of the board and the datasheet of fpga

set_io clk J3 
set_io start D14 
set_io a[0] E4 
set_io a[1] B2
set_io a[2] F5
set_io a[3] B1
set_io a[4] C1
set_io a[5] C2
set_io a[6] F4
set_io a[7] D2
set_io a[8] G5
set_io a[9] D1
set_io a[10] G4
set_io a[11] E3
set_io a[12] H5
set_io a[13] E2
set_io a[14] G3
set_io a[15] F3
set_io a[16] H3
set_io a[17] F2
set_io a[18] H6
set_io a[19] F1
set_io a[20] H4
set_io a[21] G2
set_io a[22] J4
set_io a[23] H2
set_io a[24] J5
set_io a[25] G1
set_io a[26] N4
set_io a[27] R1
set_io a[28] M6
set_io a[29] P2

set_io b[0] M4
set_io b[1] P1
set_io b[2] N3
set_io b[3] L5
set_io b[4] M3
set_io b[5] R14
set_io b[6] N2
set_io b[7] L7
set_io b[8] M2
set_io b[9] K5
set_io b[10] L3
set_io b[11] L6
set_io b[12] M1
set_io b[13] K4
set_io b[14] L1
set_io b[15] L4
set_io b[16] K3
set_io b[17] K1
set_io b[18] J1
set_io b[19] C14
set_io b[20] B15
set_io b[21] D13
set_io b[22] B14
set_io b[23] C12
set_io b[24] E11
set_io b[25] C13
set_io b[26] A16
set_io b[27] A15
set_io b[28] B13
set_io b[29] E10

set_io c[0] C11
set_io c[1] D11
set_io c[2] B12
set_io c[3] B10
set_io c[4] B11
set_io c[5] C10
set_io c[6] A10
set_io c[7] A11
set_io c[8] D10
set_io c[9] C9
set_io c[10] E9
set_io c[11] D9
set_io c[12] A9
set_io c[13] F9
set_io c[14] C8
set_io c[15] F7
set_io c[16] B9
set_io c[17] D8
set_io c[18] B8
set_io c[19] A7
set_io c[20] C7
set_io c[21] B7
set_io c[22] B6
set_io c[23] C6
set_io c[24] D7
set_io c[25] A6
set_io c[26] D6
set_io c[27] A5
set_io c[28] B5
set_io c[29] E6
set_io c[30] B4
set_io c[31] A2
set_io c[32] D5
set_io c[33] A1
set_io c[34] C5
set_io c[35] C4
set_io c[36] B3
set_io c[37] D4
set_io c[38] E5
set_io c[39] D3
set_io c[40] C3
set_io c[41] J16
set_io c[42] J13
set_io c[43] J12
set_io c[44] J14
set_io c[45] K16
set_io c[46] K15
set_io c[47] J15
set_io c[48] K14
set_io c[49] K13
set_io c[50] L16
set_io c[51] J11
set_io c[52] M15
set_io c[53] J10
set_io c[54] M16
set_io c[55] K12
set_io c[56] L14
set_io c[57] L13
set_io c[58] N16
set_io c[59] L12



