# in the pcf (physical constrain file) 
# the external pins of the fpga are defined
# compare to the schematic of the board and the datasheet of fpga

set_io clk J3 
set_io start D14 
set_io in[0] E4 
set_io in[1] B2
set_io in[2] F5
set_io in[3] B1
set_io in[4] C1
set_io in[5] C2
set_io in[6] F4
set_io in[7] D2
set_io in[8] G5
set_io in[9] D1
set_io in[10] G4
set_io in[11] E3
set_io in[12] H5
set_io in[13] E2
set_io in[14] G3
set_io in[15] F3
set_io in[16] H3
set_io in[17] F2
set_io in[18] H6
set_io in[19] F1
set_io in[20] H4
set_io in[21] G2
set_io in[22] J4
set_io in[23] H2
set_io in[24] J5
set_io in[25] G1
set_io in[26] N4
set_io in[27] R1
set_io in[28] M6
set_io in[29] P2

set_io out[0] M4
set_io out[1] P1
set_io out[2] N3
set_io out[3] L5
set_io out[4] M3
set_io out[5] R14
set_io out[6] N2
set_io out[7] L7
set_io out[8] M2
set_io out[9] K5
set_io out[10] L3
set_io out[11] L6
set_io out[12] M1
set_io out[13] K4
set_io out[14] L1
set_io out[15] L4
set_io out[16] K3
set_io out[17] K1
set_io out[18] J1
set_io out[19] C14
set_io out[20] B15
set_io out[21] D13
set_io out[22] B14
set_io out[23] C12
set_io out[24] E11
set_io out[25] C13
set_io out[26] A16
set_io out[27] A15
set_io out[28] B13
set_io out[29] E10

set_io out[30] C11
set_io out[31] D11
set_io out[32] B12
set_io out[33] B10
set_io out[34] B11
set_io out[35] C10
set_io out[36] A10
set_io out[37] A11
set_io out[38] D10
set_io out[39] C9
set_io out[40] E9
set_io out[41] D9
set_io out[42] A9
set_io out[43] F9
set_io out[44] C8
set_io out[45] F7
set_io out[46] B9
set_io out[47] D8
set_io out[48] B8
set_io out[49] A7
set_io out[50] C7
set_io out[51] B7
set_io out[52] B6
set_io out[53] C6
set_io out[54] D7
set_io out[55] A6
set_io out[56] D6
set_io out[57] A5
set_io out[58] B5
set_io out[59] E6
set_io stop B4
set_io c[31] A2
set_io c[32] D5
set_io c[33] A1
set_io c[34] C5
set_io c[35] C4
set_io c[36] B3
set_io c[37] D4
set_io c[38] E5
set_io c[39] D3
set_io c[40] C3
set_io c[41] J16
set_io c[42] J13
set_io c[43] J12
set_io c[44] J14
set_io c[45] K16
set_io c[46] K15
set_io c[47] J15
set_io c[48] K14
set_io c[49] K13
set_io c[50] L16
set_io c[51] J11
set_io c[52] M15
set_io c[53] J10
set_io c[54] M16
set_io c[55] K12
set_io c[56] L14
set_io c[57] L13
set_io c[58] N16
set_io c[59] L12



